body {
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 40px;
}

h1 {
    color: #333;
}

.index-page {
    margin-right: 20px;
    text-decoration: none;
    color: red;
}
.projects-page {
    margin-right: 20px;
    text-decoration: none;
    color: green;
}
.about-page {
    margin-right: 20px;
    text-decoration: none;
    color: blue;
}

.index-page:hover, .projects-page:hover, .about-page:hover {
    text-decoration-line: underline;
}
